@font-face{
  font-family:Roboto-Bold;
  src: url('/Aurora/vendor/Roboto/Roboto-Bold.ttf');
}
@font-face{
  font-family:Roboto-Light;
  src: url('/Aurora/vendor/Roboto/Roboto-Light.ttf');
}
@font-face{
  font-family:Roboto-Medium;
  src: url('/Aurora/vendor/Roboto/Roboto-Medium.ttf');
}
@font-face{
  font-family:Roboto-Regular;
  src: url('/Aurora/vendor/Roboto/Roboto-Regular.ttf');
}
@font-face{
  font-family:Roboto-Thin;
  src: url('/Aurora/vendor/Roboto/Roboto-Thin.ttf');
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto-Regular;
  /*color: white;*/
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Roboto-Bold, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
.portfolio-item {
    margin-bottom: 25px;
}

.modal-content {
    color: #434a54;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
          /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.modal-header {
    border-bottom: none;
}
.modal-body {
    padding: 0 15px;
}
.modal-footer {
    margin-top: 35px;
    border-top: none;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}



footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}



.form-control {
  color: #434a54;
  border-color: #aab2bd;
}
.form-control, .form-control:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.form-control:focus {
  border-color: #19b5fe;
}
.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #e6e9ed;
}
.form-control.disabled, .form-control[disabled] {
  background-color: #e6e9ed;
  border-color: #e6e9ed;
}

.btn {
  color: white;
  border-radius: 4px;
}
.btn, .btn.disabled, .btn[disabled] {
  background-color: #aab2bd;
  border-color: #aab2bd;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
  color: white;
  background-color: #ccd1d9;
  border-color: #ccd1d9;
  outline: none !important;
}
.btn:active, .btn.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
}
.btn.disabled, .btn[disabled] {
  filter: alpha(opacity=45);
  opacity: .45;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
  color: #19b5fe;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-link:hover, .btn-link:focus {
  text-decoration: underline;
}
.btn-default {
  color: #434a54;
  border-color: #aab2bd !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #ccd1d9;
  border-color: #ccd1d9;
}
.btn-default, .btn-default.disabled, .btn-default[disabled] {
  background-color: white;
}
.open .dropdown-toggle.btn-default {
  background-color: #ccd1d9;
  border-color: #ccd1d9;
}
.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #19b5fe;
  border-color: #19b5fe;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
.open .dropdown-toggle.btn-primary {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
.btn-info, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color: #03a678;
  border-color: #03a678;
}
.btn-info:hover, .btn-info:focus {
  background-color: #16a085;
  border-color: #16a085;
}
.open .dropdown-toggle.btn-info {
  background-color: #16a085;
  border-color: #16a085;
}
.btn-success, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #03a678;
  border-color: #03a678;
}
.btn-success:hover, .btn-success:focus {
  background-color: #16a085;
  border-color: #16a085;
}
.open .dropdown-toggle.btn-success {
  background-color: #16a085;
  border-color: #16a085;
}
.btn-warning, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color: #f5ab35;
  border-color: #f5ab35;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #ffb94e;
  border-color: #ffce54;
}
.open .dropdown-toggle.btn-warning {
  background-color: #ffce54;
  border-color: #ffce54;
}
.btn-danger, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
  background-color: #da4453;
  border-color: #da4453;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #d24d57;
  border-color: #d24d57;
}
.open .dropdown-toggle.btn-danger {
  background-color: #d24d57;
  border-color: #d24d57;
}

a {
  color: #222;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #222;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: thick solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Roboto-Medium, sans-serif;
  background-color: white;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
  font-size: 30px;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.intro .intro-body .intro-heading {
    font-family: Roboto-Bold;
}
.intro .intro-body .intro-text {
    font-family: Roboto-Light;
}
.intro .intro-body a.btn{
    background-color: transparent;
    border-color: transparent;
}
#intro .text{
    font-family: Roboto-Light;
}
.copyRight p{
    font-family: Roboto-Thin;
}

.forget{
  position: relative;
  display: block;
  margin:10px 0;
  font-size: 12px;
  color:#16a085;
  padding-right: 0px;
}

/*Respons*/
@media (max-width: 991px) {

  .navbar-left .nav{
    display: none;
  }
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
@media (min-width: 768px) {
  .navbar-custom .nav li a:hover {
    color: white;
    outline: none;
    background-color: transparent;
  }
  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:active {
    outline: none;
    background-color: transparent;
  }
  .navbar-custom .nav li.active {
    outline: none;
  }
  .navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li.active a:hover {
    color: white;
  }
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: transparent;
    -webkit-box-shadow:0px 1px 1px #222;
    -moz-box-shadow:0px 1px 1px #222;
    box-shadow:0px 0px 1px #222;
  }
  .navbar-custom.top-nav-collapse a{
    color: black;
  }
  .navbar-custom.top-nav-collapse li a{
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar-custom.top-nav-collapse .nav li a:hover {
    color: black;
    outline: none;
    background-color: transparent;
  }
  .navbar-custom.top-nav-collapse .nav li a:focus,
  .navbar-custom.top-nav-collapse .nav li a:active {
    outline: none;
    background-color: transparent;
  }
  .navbar-custom.top-nav-collapse .nav li.active {
    outline: none;
  }
  .navbar-custom.top-nav-collapse .nav li.active a {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .navbar-custom.top-nav-collapse .nav li.active a:hover {
    color: black;
  }

}
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  padding-top: 500px;
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .intro-heading {
  font-size: 30px;
}
.intro .intro-body .intro-text {
  font-size: 22px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .intro-heading {
    font-size: 35px;
  }
  .intro .intro-body .intro-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.pic-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #222;
  color: #222;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #222;
  outline: none;
  color: black;
  background-color: #222;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .intro .intro-body .intro-heading {
    font-size: 15px;
  }
  .intro .intro-body .cellphone-hide{
    display: none;
  }
  .navbar-custom.top-nav-collapse a{
    color: black;
  }
  .navbar-custom.top-nav-collapse li a{
    color: rgba(0, 0, 0, 0.8);
  }
  .navbar-custom.top-nav-collapse .nav li a:hover {
    color: black;
    outline: none;
    background-color: transparent;
  }
  .navbar-custom.top-nav-collapse .nav li a:focus,
  .navbar-custom.top-nav-collapse .nav li a:active {
    outline: none;
    background-color: transparent;
  }
  .navbar-custom.top-nav-collapse .nav li.active {
    outline: none;
  }
  .navbar-custom.top-nav-collapse .nav li.active a {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navbar-custom.top-nav-collapse .nav li.active a:hover {
    color: black;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: transparent;
    -webkit-box-shadow:0px 1px 1px #222;
    -moz-box-shadow:0px 1px 1px #222;
    box-shadow:0px 0px 1px #222;
  }
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
  .intro .intro-body {
    padding-top: 300px;
    display: table-cell;
    vertical-align: middle;
  }
  .navbar-custom {
    padding: 5px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse a {
    color: black;
  }
  .navbar-custom.top-nav-collapse li.active a:hover {
    color: black;
  }
  .navbar-custom.top-nav-collapse i {
    color: black;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: thick solid rgba(255, 255, 255, 0.3);
  }

}
